@import 'bootstrap';

body {
margin: 0;
padding: 0;
/* min-height: 100vh; */
width: 100vw;
display: flex;
align-items: center;
justify-content: center;  
font-family: sans-serif;
overflow: hidden;
}
/* html{
  overflow: hidden;
} */
.container{
  margin-top: 150px;
  border: none;
align-items: center;
padding: 0; /* Remove default padding */
}
.card{
  border: 0px;
  border-color: transparent; 
}
.container .card .icon {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000205;
}

.container .card .icon .fa {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* font-size: 6.31vw; */
}

.container .card .slide {
width: 31.25vw;
height: 300px;
transition: 0.5s;
}

.container .card .slide.slide1 {
position: relative;
display: flex;
justify-content: center;
align-items: center;
padding: 0.6vw;
z-index: 1;
transition: .7s;
transform: translateY(200px);
}

.container .card:hover .slide.slide1{
transform: translateY(150px);
}

.container .card .slide.slide2 {
position: relative;
display: flex;
justify-content: center;
align-items: center;
padding: 0.6vw;
box-sizing: border-box;
transition: .8s;
transform: translateY(-100px);
box-shadow: 0 1.20vw 2.40vw rgba(0,0,0,0.4);
}

.container .card:hover .slide.slide2{
transform: translateY(0);
}

.container .card .slide.slide2::after{
content: "";
position: absolute;
/* width: 30px; */
/* height: 4px; */
bottom: 15px;
align-items: center;
transform: translateX(-50%);
}

.container .card .slide.slide2 .content p {
margin: 0;
padding-top: 130px;
justify-content: center;
text-align: center;
color: #414141;
font-size: 75%;
}



/* header of description */
/* .container .card .slide.slide2 .content h3 {
margin: 0 0 1.84vw 0;
padding: 0;
font-size: 0,7rem;
text-align: center;
color: #414141;
}  */

video {
  width: 31.25vw;
  height: 300px;
cursor: pointer;
display: block;
        }
        /* .margin{
          margin: 100px;
        } */

        .background {
          background-image: url("../Assets/back2.png");
          background-repeat: no-repeat;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        @keyframes animatedBackground {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 100% 100%;
            }
        }

        .background {
            animation: animatedBackground 20s infinite alternate;
        }

        img{
          height: 60px;
          width: 82px;
        }
        .headdiv{
          border: 3px solid rgb(243, 240, 240);
          display: block;
          position: absolute;
          height: 200px;
          width: 1000px;
          box-shadow: 0 1.20vw 2.40vw rgba(0,0,0,0.4);
          top: 10%;
          /* left: 24.25vw; */
          text-align: center;
          align-items: center;
          margin-bottom: 10%;
          color: teal;
        }

        .headheader{
          margin-top: 3%;
          margin-bottom: 3%;
          color: teal;
          margin-left: 10%;
          margin-right: 10%;
        }
        .headp1{
          /* font-weight: bold; */
          position: absolute;
          display: block;
          font-size: 80%;
          text-align: center;
          justify-content: center;
          margin-left: 10%;
          margin-right: 10%;
        }
        text{
          display: block;
        }

        /* .margin{
          margin-top: 900px;
        } */

        /* .logout{
          position: relative;
left: 1490px;
        } */

        @media screen and (max-width: 900px) {
          .headdiv{
            display: block;
            position: absolute;
            height: 270px;
            width: 430px;
            box-shadow: 0 1.20vw 2.40vw rgba(0,0,0,0.4);
            text-align: center;
            align-items: center;
            margin-bottom: 10%;
          }
          body{
            overflow: auto;
          }
          .headheader{
            margin-top: 2%;
            margin-bottom: 2%;
            color: teal;
            margin-left: 5%;
            margin-right: 5%;
          }
        }