@import 'bootstrap';

         body {

margin: 0;

padding: 0;

min-height: 100vh;

display: flex;


align-items: center;

justify-content: center;  

font-family: sans-serif;
}
.container{
  margin: none;
  border: none;
  
    /* background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent */
/* margin-right: 100px; */

align-items: center;
padding: 0; /* Remove default padding */
}
.card{
  border: 0px;
  border-color: transparent; 
  
/* opacity: 0.5; */

}
.container .card .icon {

position: absolute;

top: 0;

left: 0;

width: 100%;

height: 100%;

background: #000205;

}

.container .card .icon .fa {

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

font-size: 80px;

/* color: #fff; */



}

.container .card .slide {

width: 600px;

height: 300px;

transition: 0.5s;
}

.container .card .slide.slide1 {

position: relative;

display: flex;

justify-content: center;

align-items: center;

z-index: 1;


transition: .7s;

transform: translateY(200px);

}

.container .card:hover .slide.slide1{

transform: translateY(0);

}

.container .card .slide.slide2 {

position: relative;

display: flex;

justify-content: center;

align-items: center;

padding: 20px;

box-sizing: border-box;

transition: .8s;

transform: translateY(-100px);

box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

transform: translateY(0);


}

.container .card .slide.slide2::after{

content: "";

position: absolute;

width: 30px;

height: 4px;

bottom: 15px;

/* left: 50%; */

/* left: 50%; */
align-items: center;

transform: translateX(-50%);

background: #000307;

}

.container .card .slide.slide2 .content p {

margin: 0;

padding: 0;

text-align: center;

color: #414141;

}

.container .card .slide.slide2 .content h3 {

margin: 0 0 10px 0;

padding: 0;

font-size: 24px;

text-align: center;

color: #414141;

} 

video {
  width:600px;
height:300px;
cursor: pointer;
display: block;
        }
        .margin{
          margin: 100px;
        }

        .background {
          background-image: url("../Assets/back2.png");
          background-repeat: no-repeat; /* Prevents image repeating */

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Places it behind other content */
        }
        @keyframes animatedBackground {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 100% 100%;
            }
        }

        .background {
            animation: animatedBackground 20s infinite alternate; /* Adjust animation properties */
            /* Additional background styles (e.g., image, gradient, etc.) */
            /* Example: */
            /* background-image: url('your-image.jpg'); */
            /* background-size: cover; */
        }
        .navbar-brand{
            /* font: bolder; */
            font-size: x-large;
            background: tomato;
        }
