
div{
display: flex;
    width: 69vh;
    height: 48vh;
    overflow: hidden;
    /* border:2px solid #070707; */
    border: 2px solid black;
    margin-bottom: 0.17vh;
    margin-left: 0.17vh;
    margin-right: 0.17vh;
}

/* iframe{
  width: 69vw;
    height: 50vw;
    overflow: hidden;
} */

.ahrs{
    width: 69vh;
    height: 48vh;
    border: none; /* Remove iframe borders */
    
}
.scaledDiv {
    width: 69vh;
    height: 48vh;
    overflow: hidden; /* Hide overflow content when scaled down */

}
/* .scaledDiv iframe {
    transform: scale(0.8);
    transform-origin: 0 0; 
    width: 125%; 
    height: 125%;
} */

body {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0;
padding: 0;
overflow: hidden;
}



.clickable-iframe {
pointer-events:none;
}

.clickable-div {
width: 69vh;
height: 48vh; 
/* margin: 10px; */
cursor: pointer;
}

.fullscreen {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
/* z-index: 999; */
display: flex;
justify-content: center;
align-items: center;
}

.fullscreen div {
background-color: white;
/* padding: 20px; */
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
width: 100%;
height: 100%; 
}



/* @media screen and (max-width: 500px) {
body{
overflow: scroll;
}
} */
@media screen and (max-width: 1700px) {
body{
overflow: auto;
} 
}

@media screen and (max-width: 100%) {
body{
overflow: hidden;
}
}


@media screen and (max-width: 768px) {
.container {
flex-direction: column; /* Stack divs vertically on smaller screens */
}
.half-width {
width: 100%;
}
.half-height {
height: 50%;
}
body{
overflow: auto;
}
}

@media screen and (max-width: 400px) {
.half-height {
height: 100%;
}
body{
    overflow: auto;
}
}







      
  /* pop up */

  #navigation
  {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      /* cursor: move; */
    z-index: 11;
    text-align: center;
  }
  .menuToggle
  {
      position: relative;
      width: 70px;
      height: 70px;
      background: #fff;
      border-radius: 70px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 15px 25px rgba(0,0,0,0.15);
  }
  .menuToggle::before
  {
      content: '⋯';
      position: absolute;
      font-size: 3em;
      font-weight: 200;
      color: #0a0a0a;
      transition: 1.5s;  
  }
  .menuToggle.active::before
  {
      transform: rotate(225deg);
  }
  .menu
  {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 70px;
      z-index: -1;
      transition: transform 0.5s, width 0.5s, height 0.5s;
      transition-delay: 1s, 0.5s, 0.5s;
      transition-timing-function: cubic-bezier(0.075,0.82, 0.165, 1);
  }

  .menuToggle.active ~ .menu
  {
      width: 240px;
      height: 70px;
      z-index: 1;
      transform: translateY(-100px);
      transition-delay: 0s, 0.5s, 0.5s;
      box-shadow: 0 15px 25px rgba(0,0,0,0.1);
  }

  .menu::before
  {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: #fff;
      left: calc(50% - 8px);
      bottom: 4px;
      transform: rotate(45deg);
      border-radius: 2px;
      transition: 0.5s;
  }

  .menuToggle.active ~ .menu::before
  {
      transition-delay: 0.5s;
      bottom: -6px;
  }

  .menu ul
  {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: start;
      height: 70px;
      gap: 30px;
      padding: 0;
  }

  .menu ul li
  {
margin-left: 20px;    
      list-style: none;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30px);
      transition: 0.25s;
      transition-delay: calc(0s + var(--i));
  }
  .menuToggle.active ~ .menu ul li
  {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
      transition-delay: calc(0.75s + var(--i));
  }
  .menu ul li a
  {
      display: block;
      font-size: 2em;
      text-decoration: none;
      color: #555;
  }
  .menu ul li a:hover
  {
      transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      cursor: pointer;
  }
  .logos{
      width: 35px;
      height: 35px;
  }
  /* #fullscreenDiv1{
    z-index: 5;
  } */



