div:hover {
    border: 50px; /* Change the margin on hover */
    background-color: lightgray; /* Change background color on hover */
}
div{
display: flex;
    width: 69vh;
    height: 50vh;
    border: none; /* Remove iframe borders */
    overflow: hidden;

}
iframe{
  width: 69vh;
    height: 50vh;
    border: none; /* Remove iframe borders */
    overflow: hidden;

}
.ahrs{
    width: 69vh;
    height: 50vh;
    border: none; /* Remove iframe borders */
    
}
.scaledDiv {
    width: 69vh;
    height: 50vh;
    border: 1px solid #070707;
    overflow: hidden; /* Hide overflow content when scaled down */
}
.scaledDiv iframe {
    transform: scale(0.8); /* Scale down the iframe contents by 20% */
    transform-origin: 0 0; /* Set transform origin to top-left */
    width: 125%; /* Compensate for scaling by adjusting width */
    height: 125%; /* Compensate for scaling by adjusting height */
}

body {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0;
padding: 0;
}


.clickable-iframe {
pointer-events:none;
}

.clickable-div {
width: 39.68rem;
height: 28.75rem; 
/* margin: 10px; */
cursor: pointer;
}

.fullscreen {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
/* z-index: 999; */
display: flex;
justify-content: center;
align-items: center;
}

.fullscreen div {
background-color: white;
/* padding: 20px; */
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
width: 100%;
height: 100%; 
}




@media screen and (max-width: 500px) {
body{
overflow: scroll;
}
}
@media screen and (max-width: 1500px) {
body{
overflow: scroll;
}
}
@media screen and (max-width: 100%) {
body{
overflow: hidden;
}
}

@media screen and (max-width: 768px) {
.container {
flex-direction: column; /* Stack divs vertically on smaller screens */
}
.half-width {
width: 100%;
}
.half-height {
height: 50%;
}
}
@media screen and (max-width: 480px) {
.half-height {
height: 100%;
}
}
