#valueDiv {
  font-family: Arial, sans-serif;
  padding: 10px;
  display: inline-flex;
  align-items: center; /* Align items vertically */
}
#displayValue {
  font-weight: bold;
  font-size: 18vw; /* Default font size */
  margin-right: 5px; /* Add some spacing between value and symbol */
}
#degreeSymbol {
  font-size: 12vw; /* Font size for the degree symbol */
}
#heading {
    margin-top: 1vh;
  font-size: 4vw; /* Font size for the degree symbol */
  position: fixed; /* Fix the heading position */
  top: 10px; /* Adjust top positioning */
  left: 50%; /* Center the heading horizontally */
  transform: translateX(-50%); /* Center the heading horizontally */
  z-index: 999; /* Ensure it's above other elements */
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}
.zoom {
  display: inline-block;
  animation: zoomInOut 1s infinite alternate; /* Animation properties */
}
@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  100% {
    transform: scale(1.2); /* Zoom in to 120% size */
  }
}
#icon{
    max-width: 140px;
    max-height: 200px;
}


/* Media query for smaller screens */
@media (max-width: 568px) {
  #displayValue {
    font-size: 26px; /* Adjust font size for smaller screens */
  }
  #degreeSymbol {
    font-size: 26px; /* Adjust font size for smaller screens */
    padding-right: 2vw;
    margin-right: 2vw;
  }
  #heading {
  font-size: 4vw;

}
#icon{
    max-width: 50px;
    max-height: 100px;
}

}
