body
{   
    display: flex auto;
    margin:0px;
    color:#f9fcf5;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("oo.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#head{
margin:30 80 80 80;
}
#signin{
    background-image: linear-gradient(
        -225deg,
        #bbc8f3 30%,
        #44107a 29%,
        #a807a0 67%,
        #910747 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
    font-size: 50px;
    font-style: bold;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-indent: 4px;
}

#main{   
    width:600px; height:auto; overflow:hidden; padding-bottom:20px; margin-left:auto; margin-right:auto; 
border-radius:5px; padding-left:10px; margin-top:100px; border-top:3px double #f1f1f1; 
border-bottom:3px double #f1f1f1; padding-top:20px;

}

#main table{font-family:"Comic Sans MS", cursive;}
/* css code for textbox */
#main .tb{height:28px; width:230px; border:1px solid #f26724; color:#fd7838; font-weight:bold; border-left:5px solid #f7f7f7; opacity:0.9;}

#main .tb:focus{height:28px; border:1px solid darkslategrey; outline:none; border-left:4px solid darkslategrey;border-right:4px solid darkslategrey;border-top:3px solid darkslategrey;border-bottom:3px solid darkslategrey;
}

/* css code for button*/
#main .btn{width:150px; height:32px; outline:none;  color:#f7f7f7; font-weight:bold; border:0px solid #f26724; 
text-shadow: 0px 0.5px 0.5px #fff; border-radius: 2px; font-weight: 600; color: #f26724; letter-spacing: 1px; 
font-size:14px; background-color:#f1f1f1; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}

#main .btn:hover{background: rgb(2,0,36); outline:none;  border-radius: 4px; color:white; border:2px solid #f1f1f1;
-webkit-transition: 0.5s; -moz-transition: 0.8s; transition: 0.7s; }

  
.land{
    background-image: url("back2.jpg");
}
.login{
 font-size: larger;
 color:snow;
 border-width: 5px;
 opacity: 1;
 

 
}
#loginForm{
display: flex;
opacity: 1;

}
.registration{
    font-size: larger;
    color: darkslateblue;
    border-width: 5px;
   }

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
