body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}


.clickable-iframe {
  pointer-events:none;
}

.clickable-div {
  width: 39.68rem;
  height: 28.75rem; 
  /* margin: 10px; */
  cursor: pointer;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* z-index: 999; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen div {
  background-color: white;
  /* padding: 20px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  width: 100%;
  height: 100%; 
}
