body{
    margin:0;
}

.container{
    display:grid;
    height: 100vh;
    grid-template-columns: auto  auto auto ;
}
/* #scene3d {

display: block;
/* margin: auto; 
width: 290;
height: 328;


} */


.D1{
    background-color: magenta;
     display: grid; 
    justify-content: center;
    align-content: center;  
    margin-right: 0px;
     background-color: #000;

 }
.D2{
    background-color: pink;
    display: grid;
    justify-content: center;
    align-content: center;
}
.D3{
    background-color: gray;
    display: grid;
    justify-content: center;
    align-content: center;
}
.D4{
    background-color: greenyellow;
    display: grid;
    justify-content: center;
    align-content: center;
}
.D5{
    background-color: green;
    display: grid;
    justify-content: center;
    align-content: center;
}
.D6{
    background-color:red;
    display: grid;
    justify-content: center;
    align-content: center;
}